{% extends "dispatcher/base.html" %}

{% block title %}Einsatzkräfte{% endblock %}


{% block content %}
<div>
	<div>
		<div class="row sub-content">
			<a type="button" class="btn btn-primary pull-right" href="{% url 'dispatcher:contacts_create' %}">Neue Einsatzkraft anlegen &nbsp;<span class="glyphicon glyphicon-plus-sign"></a>
			<br><br>
		</div>
		<div class="row sub-content">
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<th>Gändert</th>
					<th>Schleife(n)</th>
					<th class="text-center">Status</th>
					<th>
					</th>
				</tr>
				{% for contact in contacts %}
				<tr>
					<td>{{ contact.secondname }}, {{ contact.firstname }}</td>
					<td>{{ contact.updated|date:"d.m.Y H:i" }}</td>
					<td>
					{% for loop in contact.loops %}
						<code>{{ loop.loop }}</code>  
					{% endfor %}
					</td>
					<td class="text-center">
						{% if contact.active %}
						<span class="label label-success">Aktiv</span>
						{% else %}
						<span class="label label-danger">Inaktiv</span>
						{% endif %}
					</td>
					<td align="right">
						<a type="button" class="btn btn-xs btn-default" href="{% url 'dispatcher:contacts_update' contact.id %}">Bearbeiten &nbsp;<span class="glyphicon glyphicon-edit"></a>
						<a type="button" class="btn btn-xs btn-default" href="{% url 'dispatcher:contacts_delete' contact.id %}">Entfernen &nbsp;<span class="glyphicon glyphicon-trash"></a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}