{% extends "dispatcher/base.html" %}

{% block title %}Einsatzkräfte{% endblock %}


{% block content %}
<div class="row">
	<div class="col-md-7">
		
		<div class="row sub-content">
			<a type="button" class="btn btn-success pull-right" href="{% url 'dispatcher:contacts_create' %}">Neue Einsatzkraft anlegen &nbsp;<span class="glyphicon glyphicon-plus-sign"></a>
			<br><br>
		</div>
		<div class="row sub-content">
			<table  class="table table-striped">
				<tr>
					<th>Name</th>
					<th>Vorname</th>
					<th>Mail</th>
					<th>Handynummer</th>
					<th>
					</th>
				</tr>
				{% for contact in contacts %}
				<tr>
					<td>{{ contact.secondname }}</td>
					<td>{{ contact.firstname }}</td>
					<td>{{ contact.mail1 }}</td>
					<td>{{ contact.sms1 }}</td>
					<td align="right">
						<a type="button" class="btn btn-xs btn-primary" href="{% url 'dispatcher:contacts_update' contact.id %}">Bearbeiten &nbsp;<span class="glyphicon glyphicon-edit"></a>
						<a type="button" class="btn btn-xs btn-danger" href="{% url 'dispatcher:contacts_delete' contact.id %}">Entfernen &nbsp;<span class="glyphicon glyphicon-remove"></a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	
	</div>
</div>
{% endblock %}