{% extends "dispatcher/base.html" %}
{% load bootstrap3 %}

{% block title %}Einsatzkraft bearbeiten{% endblock %}


{% block content %}
<div class="row">
	<div class="col-md-7">
		{% for message in messages %}
    		<div class="alert alert-{{ message.tags }}">{{ message }}</div>
		{% endfor %}
		
		<form action="{% url 'dispatcher:contacts_update' contact.id %}" method="post">
			{% csrf_token %}
			{% bootstrap_form form %}

			<p><small>Erstellt am {{ contact.created|date:"d.m.Y" }} um {{ contact.created|date:"H:i:s" }} Uhr</small></p>
			<p><small>Geändert am {{ contact.updated|date:"d.m.Y" }} um {{ contact.updated|date:"H:i:s" }} Uhr</small></p>

			{% buttons %}
			<button type="submit" class="btn btn-primary">
				{% bootstrap_icon "plus-sign" %} Änderungen speichern
			</button>
			<a type="button" class="btn btn-default" href="{% url 'dispatcher:contacts' %}">
				Änderungen verwerfen
			</a>
			<a type="button" class="btn btn-danger" href="{% url 'dispatcher:contacts_delete' contact.id %}">
				{% bootstrap_icon "trash" %} Einsatzkraft löschen
			</a>
			{% endbuttons %}
		</form>
	
	</div>
</div>
{% endblock %}