{% extends "dispatcher/base.html" %}

{% block title %}Schleifen{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-7">
		{% for loop in alarm_loops %}
		<h4 class="text-muted text-uppercase conent_headline">{{ loop.loop }}
		{% if loop.active %}
		<span class="label label-success pull-right">Aktiv</span>
		{% else %}
		<span class="label label-danger pull-right">Inaktiv</span>
		{% endif %}
		</h4>
		<div class="sub-content">

				<div class="form-group">
					<label for="sms_from">Name</label>
					<input type="text" class="form-control" placeholder="Nmae" value="{{ loop.name }}" disabled>
				</div>
				<div class="form-group">
					<label for="sms_from">Alarm Text</label>
					<input type="text" class="form-control" placeholder="Nmae" value="{{ loop.alarm_text }}" disabled>
				</div>
				<a type="button" class="btn btn-sm btn-primary" href="bla?id={{ loop.id }}">Bearbeiten</a>
				<a type="button" class="btn btn-sm btn-primary disabled" href="#">Einsatzkräfte</a>
				<a type="button" class="btn btn-sm btn-danger disabled" href="#">Alarmieren</a>

		</div>
		<hr>
		{% endfor %}
	</div>
</div>
{% endblock %}