{% extends "dispatcher/base.html" %}

{% block title %}Übersicht{% endblock %}

{% block sidebar %}
<ul class="nav nav-stacked">
	<li><a href="#">Übersicht</a></li>
	<li><a href="#">Manuell Alarmieren</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">

	<h4 class="text-muted text-uppercase">Feuerwehr</h4>
	<h3>FF Nieder-Werbe<br>
	<small>Stadt Waldeck</small></h3>
	<h4 class="text-muted text-uppercase conent_headline">Administratoren</h4>
	Heinz Mustermann <a href="">(musterman@mail.de)</a><br>
	Heinz Mustermann <a href="">(musterman@mail.de)</a><br>
	Heinz Mustermann <a href="">(musterman@mail.de)</a><br>
	<h4 class="text-muted text-uppercase conent_headline">News</h4>
	Keine News vorhanden.
	<h4 class="text-muted text-uppercase conent_headline">Kontakt</h4>
	Bei möglichen Fehlern oder sonstigen Fragen, bitte per E-Mail an <a href="mailto:openfire@peuster.de">openfire@peuster.de</a> wenden. Die SMS Alarmierung ersetzt keineswegs die offizielle Alarmierung per FME oder Sirene. Fehlarlarme sind nicht ausgeschlossen.
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-5">
	<h4 class="text-muted text-uppercase">Letzte Alarmierungen</h4>
	(right column)
	</div>
</div>
{% endblock %}