.debug {
	border: 1px solid black;
}

body {
	margin: 16px;
	height: 100%;
}

#main-div {
	max-width: 980px;
	margin: auto;	
}

.login {
	width:420px;
	margin: auto;
} 

.conent_headline{

}

.sub-content {
	margin-left: 16px;
	margin-right: 16px;
}

